* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('images\\background.jpg');
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: rgb(153, 0, 255);
    color: #333;
    text-align: center;
    padding: 20px;
    position: relative; /* Position relative to control z-index */
    z-index: 0; /* Lower z-index to keep it behind other content */
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    position: relative; /* Ensuring position is not static */
    z-index: 1; /* Higher z-index to ensure it's on top of the background */
}



header {
    margin-bottom: 20px;
}

h1 {
    color: #000000; 
}

.gif-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gif-container.left {
    margin-right: auto; /* Pushes everything else to the right */
}

.gif-container.right {
    margin-left: auto; /* Pushes everything else to the left */
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #ff0116; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 18px;
}

button:hover {
    transform: scale(1.1);
}

.collage {
    position: relative;
    padding: 20px;
    z-index: 1000;
}

.collage img {
    transition: transform 0.5s, opacity 0.5s, margin 0.5s;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    border-radius: 30px;
    z-index: 1000;
}

.collage img.settle {
    opacity: 1;
    margin: 10px;
    cursor: pointer;
    transform-origin: center bottom;
    z-index: 1000;
}

.enlarged {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.enlarged img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 30px;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
    line-height: 1.8;
    color: #555;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: left;
    position: relative; /* Important for z-index to take effect */
    z-index: 2; /* Ensure it's on top */
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Very high z-index to ensure it's on top of everything */
    overflow: auto;
}

.popup.hidden {
    display: none;
}

.popup-content {
    position: relative;
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail-container img {
    margin: 5px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    object-fit: cover; 
    border-radius: 5px;
    transition: transform 0.2s; 
}

.thumbnail-container img:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-button {
    padding: 10px 20px;
    background-color: #ff0116; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 18px;
    margin: 0 10px;
}

.nav-button:hover {
    transform: scale(1.1);
}

